@charset "UTF-8";
@media only screen and (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-areas: "nav" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  nav {
    grid-area: nav;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  /* PÁGINA: PARLANTES PORTÁTILES */
  .mainGrid {
    display: grid;
    grid-template-areas: "TituloBanner TituloBanner TituloBanner" "ImgBanner ImgBanner ImgBanner" "TituloBanner2 TituloBanner2 TituloBanner2" "ImgBanner2 ImgBanner2 ImgBanner2" "TituloBanner3 TituloBanner3 TituloBanner3" "ImgBanner3 ImgBanner3 ImgBanner3" "TituloBanner4 TituloBanner4 TituloBanner4" "ImgBanner4 ImgBanner4 ImgBanner4";
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 100%;
  }
  .TituloBanner {
    grid-area: TituloBanner;
  }
  .ImgBanner {
    grid-area: ImgBanner;
  }
  .TituloBanner2 {
    grid-area: TituloBanner2;
  }
  .ImgBanner2 {
    grid-area: ImgBanner2;
  }
  .TituloBanner3 {
    grid-area: TituloBanner3;
  }
  .ImgBanner3 {
    grid-area: ImgBanner3;
  }
  .TituloBanner4 {
    grid-area: TituloBanner4;
  }
  .ImgBanner4 {
    grid-area: ImgBanner4;
  }
  /* PÁGINA INDEX HTML */
  .MainIndex {
    display: grid;
    grid-template-areas: "encabezado encabezado encabezado" "ImgEncabezado ImgEncabezado ImgEncabezado" "encabezado2 encabezado2 encabezado2" "ImgEncabezado2 ImgEncabezado2 ImgEncabezado2" "ImgEncabezado3 ImgEncabezado3 ImgEncabezado3" "encabezado3 encabezado3 encabezado3" "ImgEncabezado4 ImgEncabezado4 ImgEncabezado4" "ImgEncabezado5 ImgEncabezado5 ImgEncabezado5" "btn-whatsapp btn-whatsapp btn-whatsapp";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
  }
  .encabezado {
    grid-area: encabezado;
  }
  .ImgEncabezado {
    grid-area: ImgEncabezado;
  }
  .encabezado2 {
    grid-area: encabezado2;
  }
  .ImgEncabezado2 {
    grid-area: ImgEncabezado2;
  }
  .ImgEncabezado3 {
    grid-area: ImgEncabezado3;
  }
  .encabezado3 {
    grid-area: encabezado3;
  }
  .ImgEncabezado4 {
    grid-area: ImgEncabezado4;
  }
  .ImgEncabezado5 {
    grid-area: ImgEncabezado5;
  }
  .btn-whatsapp {
    grid-area: btn-whatsapp;
  }
  /* vista de productos pc laptop */
  /* VISTA DE PRODUCTOS */
  .product {
    position: relative;
    width: 240px;
    top: 10px;
    height: 200px;
    border-radius: 20px;
  }
  .container {
    display: grid;
    grid-template-areas: "tarjeta1 tarjeta2 tarjeta3" "tarjeta4 tarjeta5 tarjeta6";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 350px);
    justify-content: space-evenly;
    margin-left: 100px;
    margin-bottom: 50px;
    gap: 40px;
  }
  .titulo-tarjeta {
    margin: 0;
    margin-top: 10px;
    color: #000000;
    font-size: 18px;
  }
  .precio-tarjeta {
    font-family: "Tilt Neon", cursive;
  }
  .boton {
    position: relative;
    font-size: 16px;
    border-radius: 25px;
  }
  .tarjeta1 {
    grid-area: tarjeta1;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta2 {
    grid-area: tarjeta2;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta3 {
    grid-area: tarjeta3;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta4 {
    grid-area: tarjeta4;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta5 {
    grid-area: tarjeta5;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta6 {
    grid-area: tarjeta6;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  /* LOGO WHATSAPPP FLOTANTE */
  .btn-whatsapp {
    position: fixed;
    width: 80px;
    height: 80px;
    line-height: 55px;
    bottom: 100px;
    right: 100px;
    /*  padding: 15px; */
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
  .logowsp {
    display: block;
    position: fixed;
    justify-content: center;
    width: 75px;
  }
  /* termina el logo de whatsapp */
  .footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }
  .footer-enlaces {
    width: 310px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    background-color: #040325;
  }
  .redes {
    background-color: #040325;
    width: 200px;
    margin: 20px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
  }
  .suscribe {
    display: flex;
    position: relative;
    top: 100px;
  }
  .marca {
    margin-top: 40px;
  }
  .form-input {
    font-size: 20px;
    border: #000000 solid 3px;
    border-radius: 20px;
    padding: 4px;
  }
  .form-label {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: aliceblue;
  }
  .form-boton {
    border: 3px solid black;
    border-radius: 20px;
  }
  /* terminan las propiedades del footer */
  h4 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: aliceblue;
  }
  h3 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: aliceblue;
  }
  .image-container {
    position: relative;
  }
  .image-text-container {
    position: absolute;
    top: 20px;
    left: 800px;
  }
  .text-container {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: aliceblue;
  }
  .boton-ver {
    position: absolute;
    border-radius: 15px;
    border: 4px solid black;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .buton {
    position: relative;
    bottom: 300px;
    right: 800px;
  }
  /* PRUEBA LOLA */
  .prueba {
    display: grid;
    grid-template-areas: "imgPrueba textoprueba";
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
  }
  .imgPrueba {
    grid-area: imgPrueba;
  }
  .textoprueba {
    grid-area: textoprueba;
  }
  .textolola {
    font-family: "Tilt Neon", cursive;
    color: aliceblue;
    font-size: 40px;
  }
  .mobile-image {
    display: none;
  }
  /* Muestra la imagen horizontal en pantallas grandes */
  .desktop-image {
    display: flex;
    position: relative;
    width: 100%;
  }
  .navegation-mobile {
    display: none;
  }
  .navbar {
    width: 100%;
  }
  .lala {
    position: relative;
    width: 300px;
    display: flex;
  }
  .lala2 {
    position: relative;
    width: 200px;
    display: flex;
  }
  /* PROPIEDADES TEXTOS */
  h2 {
    position: relative;
    left: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    color: aliceblue;
  }
  h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    position: relative;
    left: 12px;
  }
}
nav ul {
  list-style-type: none;
  padding: 10px;
  background-color: #000000;
  margin: 0%;
  display: flex;
  text-align: center;
}

nav li {
  float: left;
}

/* BARRA DE N|AVEGACIÓN: TEXTO */
nav li a {
  display: inline-block;
  color: rgb(255, 255, 255);
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  font-family: "Tilt Neon", cursive;
  font-size: 20px;
}

/* EFECTO DE LA BARRA DE NAVEGACION */
.first-ul li a:hover {
  background-color: #0167ec;
  transform: scale(1.3);
  transition: all 0.4s ease-out;
  border-radius: 20px;
}

.first-ul li a:not(:hover) {
  transform: scale(1);
  transition: all 0.4s ease-out;
  border-radius: 20px;
}

.navbar-iconos {
  height: 68px;
  display: inline-flex;
}

.navbar-iconos ul li {
  display: flex;
  position: relative;
  bottom: 8px;
  justify-content: space-between;
}

.navbar {
  display: inline-flex;
  height: 68px;
  width: 100%;
  background-color: #000000;
}

.fa-user {
  font-size: 40px;
}

.fa-cart-shopping {
  font-size: 40px;
}

.fa-star {
  font-size: 40px;
}

/* ELIMINAR MARCO BLANCO */
body {
  margin: 0%;
  overflow-x: hidden;
}

/* PROPIEDADES FOOTER */
.footer ul {
  list-style-type: none;
  display: grid;
}

.footer ul li a {
  color: rgb(255, 255, 255);
}

.footer ul li a:hover {
  transform: none;
  background-color: #0167ec;
}

.footer li a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.footerGrid {
  background-color: #000000;
}

.lola {
  position: relative;
  width: 600px;
  padding: 20px;
  border-radius: 80px;
}

.buton2 {
  font-size: 20px;
  border-radius: 20px;
  border: 4px solid black;
}

/* Estilo para los campos de entrada */
input[type=text], input[type=adress] {
  width: 200px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo para las etiquetas */
label {
  display: block;
  margin-bottom: 10px;
}

/* Estilo para el botón de envío */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  width: 90px;
  border-radius: 4px;
  cursor: pointer;
}

label {
  display: inline-block;
  margin-bottom: 0;
}

.form-login {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  align-items: center;
  top: 40px;
  position: relative;
}

/* ACÁ TERMINAN LAS MEDIA QUERIES */
@media (max-width: 767px) {
  main, footer, nav {
    display: flex;
    align-items: center;
  }
  /* LOGO WHATSAPPP FLOTANTE */
  .btn-whatsapp {
    position: fixed;
    width: 80px;
    height: 80px;
    line-height: 55px;
    bottom: 80px;
    right: 10px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
  .logowsp {
    display: block;
    position: fixed;
    justify-content: center;
    width: 55px;
  }
  /* TERMINA EL LOGO DE WHATSAPP */
  /* Imagen parlante LG */
  .image-container {
    position: relative;
  }
  .image-text-container {
    position: absolute;
    top: 20px;
  }
  .text-container {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: aliceblue;
  }
  /* temina la imagen */
  /* FOOTER */
  .footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }
  .footer-enlaces {
    width: 310px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    background-color: #040325;
  }
  .redes {
    background-color: #040325;
    width: 200px;
    margin: 20px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
  }
  .suscribe {
    display: flex;
    position: relative;
    align-items: center;
  }
  .marca {
    margin-top: 40px;
  }
  .form-input {
    font-size: 16px;
    border: #000000 solid 3px;
    border-radius: 20px;
    padding: 4px;
    width: 150px;
  }
  .form-label {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: aliceblue;
  }
  .form-boton {
    border: 3px solid black;
    border-radius: 20px;
  }
  /* BARRA DE NAVEGACIÓN CON ICONOS */
  .navegation-mobile {
    overflow-x: hidden;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .icon-container {
    overflow-x: hidden;
    width: 100%;
  }
  .navegation-mobile a {
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    overflow-x: hidden;
  }
  -mobile a:hover {
    background-color: #111;
  }
  .navegation-mobile a.active {
    background-color: #4CAF50;
  }
  .navegation-mobile .icon-container {
    display: flex;
    justify-content: space-evenly;
  }
  /* fin de la Barra de navegacion de smartphone */
  .navbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .mobile-image {
    display: block;
    position: relative;
    width: 100%;
  }
  .desktop-image {
    display: none;
  }
  .navbar .navbar-iconos {
    display: none;
  }
  .navbar-iconos {
    height: 40px;
    display: inline-block;
  }
  .navegation-mobile {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    background-color: #000000;
  }
  .fa-user {
    font-size: 20px;
  }
  .fa-cart-shopping {
    font-size: 20px;
  }
  .fa-magnifying-glass {
    font-size: 20px;
  }
  .fa-star {
    font-size: 20px;
  }
  .fa-home {
    font-size: 20px;
  }
  body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  nav li a {
    font-size: 18px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
  }
  /* vista de productos smartphone */
  /* VISTA DE PRODUCTOS */
  .product {
    position: relative;
    width: 240px;
    top: 10px;
    height: 200px;
    border-radius: 20px;
  }
  .titulo-tarjeta {
    margin: 0;
    margin-top: 10px;
    color: #000000;
    font-size: 18px;
  }
  .precio-tarjeta {
    font-family: "Tilt Neon", cursive;
  }
  .boton {
    position: relative;
    font-size: 16px;
    border-radius: 25px;
  }
  .tarjeta1 {
    grid-area: tarjeta1;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta2 {
    grid-area: tarjeta2;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta3 {
    grid-area: tarjeta3;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta4 {
    grid-area: tarjeta4;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta5 {
    grid-area: tarjeta5;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta6 {
    grid-area: tarjeta6;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-right: 0;
    padding-right: 0;
  }
  /* termina la vista de productos */
  /* PROPIEDADES TEXTOS */
  h2 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 90%;
    left: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: aliceblue;
  }
  h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    position: relative;
  }
  h3 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: aliceblue;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar .navbar-iconos {
    display: none;
  }
  .navbar {
    display: inline-flex;
    height: 68px;
    width: 100%;
    background-color: #000000;
  }
  .mobile-image {
    display: block;
    position: relative;
    width: 100%;
  }
  .desktop-image {
    display: none;
  }
  .footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }
  .footer-enlaces {
    width: 310px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    background-color: #040325;
  }
  .redes {
    background-color: #040325;
    width: 200px;
    margin: 20px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
  }
  .suscribe {
    display: flex;
    position: relative;
    right: 400px;
    top: 100px;
  }
  .marca {
    margin-top: 40px;
  }
  .form-input {
    font-size: 20px;
    border: #000000 solid 3px;
    border-radius: 20px;
    padding: 4px;
  }
  .form-label {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: aliceblue;
  }
  .form-boton {
    border: 3px solid black;
    border-radius: 20px;
  }
  /* LOGO WHATSAPPP FLOTANTE */
  .btn-whatsapp {
    position: fixed;
    width: 80px;
    height: 80px;
    line-height: 55px;
    bottom: 200px;
    right: 200px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
  .logowsp {
    display: block;
    position: fixed;
    justify-content: center;
    width: 105px;
  }
  /* TERMINA EL LOGO DE WHATSAPP */
  body {
    overflow-x: hidden;
    width: max-content;
    margin: 0%;
  }
  /* BARRA DE NAVEGACIÓN CON ICONOS */
  .navegation-mobile {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .navegation-mobile a {
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  -mobile a:hover {
    background-color: #111;
  }
  .navegation-mobile a.active {
    background-color: #4CAF50;
  }
  .navegation-mobile .icon-container {
    display: flex;
    justify-content: space-evenly;
  }
  .fa-user {
    font-size: 50px;
  }
  .fa-magnifying-glass {
    font-size: 50px;
  }
  .fa-cart-shopping {
    font-size: 50px;
  }
  .fa-star {
    font-size: 50px;
  }
  .fa-home {
    font-size: 50px;
  }
  /* fin de la Barra de navegacion de smartphone */
  .grid {
    display: grid;
    grid-template-areas: "nav" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  nav {
    grid-area: nav;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  /* PÁGINA: PARLANTES PORTÁTILES */
  .mainGrid {
    display: grid;
    grid-template-areas: "TituloBanner TituloBanner TituloBanner" "ImgBanner ImgBanner ImgBanner" "TituloBanner2 TituloBanner2 TituloBanner2" "ImgBanner2 ImgBanner2 ImgBanner2" "TituloBanner3 TituloBanner3 TituloBanner3" "ImgBanner3 ImgBanner3 ImgBanner3" "TituloBanner4 TituloBanner4 TituloBanner4" "ImgBanner4 ImgBanner4 ImgBanner4";
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 100%;
  }
  .TituloBanner {
    grid-area: TituloBanner;
  }
  .ImgBanner {
    grid-area: ImgBanner;
  }
  .TituloBanner2 {
    grid-area: TituloBanner2;
  }
  .ImgBanner2 {
    grid-area: ImgBanner2;
  }
  .TituloBanner3 {
    grid-area: TituloBanner3;
  }
  .ImgBanner3 {
    grid-area: ImgBanner3;
  }
  .TituloBanner4 {
    grid-area: TituloBanner4;
  }
  .ImgBanner4 {
    grid-area: ImgBanner4;
  }
  /* PÁGINA INDEX HTML */
  .MainIndex {
    display: grid;
    grid-template-areas: "encabezado encabezado encabezado" "ImgEncabezado ImgEncabezado ImgEncabezado" "encabezado2 encabezado2 encabezado2" "ImgEncabezado2 ImgEncabezado2 ImgEncabezado2" "ImgEncabezado3 ImgEncabezado3 ImgEncabezado3" "encabezado3 encabezado3 encabezado3" "ImgEncabezado4 ImgEncabezado4 ImgEncabezado4" "ImgEncabezado5 ImgEncabezado5 ImgEncabezado5";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
  }
  .encabezado {
    grid-area: encabezado;
  }
  .ImgEncabezado {
    grid-area: ImgEncabezado;
  }
  .encabezado2 {
    grid-area: encabezado2;
  }
  .ImgEncabezado2 {
    grid-area: ImgEncabezado2;
  }
  .ImgEncabezado3 {
    grid-area: ImgEncabezado3;
  }
  .encabezado3 {
    grid-area: encabezado3;
  }
  .ImgEncabezado4 {
    grid-area: ImgEncabezado4;
  }
  .ImgEncabezado5 {
    grid-area: ImgEncabezado5;
  }
  /* vista de productos tablet */
  /* VISTA DE PRODUCTOS */
  .product {
    position: relative;
    width: 240px;
    top: 10px;
    height: 200px;
    border-radius: 20px;
  }
  .titulo-tarjeta {
    margin: 0;
    margin-top: 10px;
    color: #000000;
    font-size: 18px;
  }
  .precio-tarjeta {
    font-family: "Tilt Neon", cursive;
  }
  .boton {
    position: relative;
    font-size: 16px;
    border-radius: 25px;
  }
  .tarjeta1 {
    grid-area: tarjeta1;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta2 {
    grid-area: tarjeta2;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta3 {
    grid-area: tarjeta3;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta4 {
    grid-area: tarjeta4;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta5 {
    grid-area: tarjeta5;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta6 {
    grid-area: tarjeta6;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .container {
    display: grid;
    grid-template-areas: "tarjeta1 tarjeta2" "tarjeta3 tarjeta4" "tarjeta5 tarjeta6";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-bottom: 25px;
    gap: 40px;
  }
  /* PROPIEDADES TEXTOS */
  h2 {
    position: relative;
    left: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    color: aliceblue;
  }
  h3 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: aliceblue;
  }
  h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    position: relative;
    left: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
