@media (max-width: 767px) {
    main, footer, nav{display:flex;
      align-items: center;}
   
/* LOGO WHATSAPPP FLOTANTE */
.btn-whatsapp {
position: fixed;
width: 80px; 
height: 80px; 
line-height: 55px;
bottom: 80px;
right: 10px;
border-radius: 50px;
text-align: center;
box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
z-index: 100;

}
.logowsp {
display: block;
position: fixed;
justify-content: center;
width: 55px;
}
/* TERMINA EL LOGO DE WHATSAPP */
/* Imagen parlante LG */
.image-container {
position: relative;
}

.image-text-container {
position: absolute;
top: 20px;
}
.text-container {
font-family: 'Montserrat', sans-serif;
font-size: 24px;
color: aliceblue;
}
/* temina la imagen */
/* FOOTER */
.footer{
background-color:black;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-evenly;
padding-bottom: 50px;
}
.footer-enlaces{
width: 310px;
margin-top: 40px;
margin-left: 20px;
border-radius: 20px;
display: flex;
background-color: #040325;
}
.redes{
background-color: #040325;
width: 200px;
margin: 20px;
margin-top: 40px;
padding: 10px;
border-radius: 20px;
}
.suscribe {
display: flex;
position: relative;
align-items: center;
}
.marca{
margin-top: 40px;
}
.form-input {
font-size: 16px;
border: #000000 solid 3px;
border-radius: 20px;
padding: 4px;
width: 150px;
}
.form-label {
font-family: 'Montserrat', sans-serif;
font-size: 16px;
color: aliceblue;
}
.form-boton {
border: 3px solid black;
border-radius: 20px;
}
      /* BARRA DE NAVEGACIÓN CON ICONOS */
      .navegation-mobile {
        overflow-x: hidden;        
      background-color: #000000;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    .icon-container {
      overflow-x: hidden;
      width: 100%;
    }
    
    .navegation-mobile a {
      float: left;
      display: block;
      color: aliceblue;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      overflow-x: hidden;
    }
    -mobile a:hover {
      background-color: #111;
    }
    
    .navegation-mobile a.active {
      background-color: #4CAF50;
    }
    .navegation-mobile .icon-container {
      display: flex;
      justify-content: space-evenly;
  }
      /* fin de la Barra de navegacion de smartphone */


.navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
      
.mobile-image {
  display: block;
  position: relative;
  width: 100%;
}

.desktop-image {
  display: none;
}

.navbar .navbar-iconos {
  display: none;
}
.navbar-iconos{
  height: 40px; 
  display: inline-block;
}
.navegation-mobile { 
box-sizing: border-box;
height: 50px;
width: 100%;
background-color: #000000;
}
.fa-user {
font-size: 20px;
}
.fa-cart-shopping {
font-size: 20px;
}
.fa-magnifying-glass{
font-size: 20px;
}
.fa-star {
font-size: 20px;
}
.fa-home {
font-size: 20px;
}

body{
overflow-x: hidden;
width: 100%;
margin: 0;
padding: 0;

}
nav li a {
font-size: 18px;
}
main {
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
padding: 0;
}
/* vista de productos smartphone */
/* VISTA DE PRODUCTOS */
.product {
  position:relative;
  width: 240px;
  top: 10px;
  height: 200px;
  border-radius: 20px;
  }
  .titulo-tarjeta {
    margin: 0;
    margin-top: 10px;
    color: #000000;
    font-size: 18px;
  }
  .precio-tarjeta {
    font-family:"Tilt Neon", cursive; 
  }
  .boton {
    position: relative;
    font-size: 16px;
    border-radius: 25px;
  }
  .tarjeta1 {
    grid-area: tarjeta1;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta2 {
    grid-area: tarjeta2;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta3 {
    grid-area: tarjeta3;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta4 {
    grid-area: tarjeta4;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta5 {
    grid-area: tarjeta5;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  .tarjeta6 {
    grid-area: tarjeta6;
    background-color: aliceblue;
    border: 6px solid rgb(228, 199, 199);
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 250px;
  }
  


.container {
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 50px;
margin-top: 80px;
margin-bottom: 40px;
margin-right: 0;
padding-right: 0;
}

/* termina la vista de productos */
/* PROPIEDADES TEXTOS */
h2 {
position: relative;
margin: 0;
padding: 0;
width: 90%;
left: 10px;
font-family: 'Montserrat', sans-serif;
font-size: 24px;
color: aliceblue;
}

h4 {
font-family: 'Montserrat', sans-serif;
font-size: 22px;
position: relative;
}
h3 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: aliceblue;
}
}
